<header class = 'nav' >
  <nav class = 'nav-menu'>
    <a href='{{ absURL "" }}' class = 'nav-brand nav_item'>{{ .Site.Title }}</a>
    <div class = 'nav_bar-wrap'>
      <div class = 'nav_bar'></div>
  <div class="row">
          <div class="nine columns">&nbsp;</div>
        <div class="three columns">
         <form action="{{ "search" | absURL }}">
           <input class="u-full-width" placeholder="Search"
                        id="search-query" name="s"/>
         </form>
         </div>
  </div>
  </nav>
</header>
